.menu-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: transparent;
  margin-top: 5%;
}

.Info-container {
  display: flex;
  align-items: center;
  padding: 20px;
  background: transparent;
  border-radius: 8px;
}

.menu-image {
  flex: 0 0 auto;
  margin-right: 1rem;
  width: 800px;
  height: 500px;
}

.menu-image img {
  max-width: 800px;
  height: auto;
}

.menu-details {
  flex: 1 1 auto;
}

.menu-details h1 {
  margin-bottom: 20px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  text-align: left;

  color: #572a01;
}

.menu-price {
  font-weight: bold;
  margin-bottom: 20px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;

  color: #555555;
}

.menu-note {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;

  color: #9a9898;

  margin-bottom: 20px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.quantity-controls button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.quantity-controls .quantity {
  margin: 0 10px;
  font-size: 16px;
}

.order-button {
  padding: 10px 20px;
  font-size: 27px;
  background-color: #ff8b38;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 326px;
  height: 65px;
}

.infoContainer {
  margin-top: 20px;
  display: block;
  margin-left: 10%;
  text-align: center;
}

.origin-info {
  margin-left: 150px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;

  color: #572a01;
}

.allergy-info {
  margin-top: 60%;
  margin-left: 150px;
  margin-bottom: 100px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;

  color: #572a01;
}

.infoNutrition {
  display: flex;
}

.container {
  display: flex;
}

.line {
  width: 1300px;
  border: 1px dashed rgba(87, 42, 1, 0.32);
  margin: 0 auto;
}

.lineContainer {
  display: flex;
  margin: 100px;
}

.nutrition-table {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nutrient-info {
  margin: 0 auto;

  text-align: center;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;

  color: #572a01;
}

.nutrient-info h2 {
  margin-bottom: 30px;
}

.nutrition-table table {
  border: 1px solid #9a9898;
  padding: 50px;
  text-align: center;

  border-radius: 15px;
}

.nutrition-table th {
  background: transparent;
  font-weight: bold;
}
